/*index css  2015-05-14*/

.{margin:0 auto;padding:0;}
body{font-family:"\5FAE\8F6F\96C5\9ED1",Arial;margin:0 auto;padding:0;}
a,p,h1,h2,h3,h4,ul,li,div,img,dl,dd,dt{margin:0;padding:0;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
a img{border:none;}
ul li{list-style:none;}
.clear{clear:both;}
.bro{color:#764000;}
.red{color:#d8110b;}
.gre{color:#009944;}
/*-----------------banner-----------------*/
.banner {position:relative;}
#playBox { width:100%;*width:1896px; height:315px; margin:0 auto; background:#333; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li { float:left;}
#playBox .pre { cursor:pointer; width:22px; height:30px; background: url(../images/ic.png) -7px -8px no-repeat; position:absolute; top:135px; left:400px; z-index:10;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter:grayscale(1);filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
/*#playBox .pre a:hover { cursor:pointer; width:22px; height:30px; background: url(../images/ic.png) -7px -8px no-repeat; position:absolute; top:135px; left:380px; z-index:10;}*/
#playBox .next { cursor:pointer; width:22px; height:30px; background:url(../images/ic.png) -7px -50px no-repeat; position:absolute; top:135px; right:400px; z-index:10;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter:grayscale(1);filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
#playBox .smalltitle {width:100%;*width:1896px;  height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul { width:60px; margin:0 auto;}
#playBox .smalltitle ul li { width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle { background:#69aaec;}

.annobox {width:280px; height:254px;overflow:hidden;position:absolute;top:32px;left:60%;}
.annobox h2 {height:54px;text-indent:10px;background:#f75505;font-size:16px;font-weight:bold;line-height:54px;color:#fff;}
.annobox h2 a {font-size:16px;font-weight:bold;color:#fff;}
.annobox h2 i {display:block;margin-top:19px;margin-left:25px;float:left;width:21px;height:17px;background:url(../images/icons.png) 0 0 no-repeat;background-position:0 0;}
.annobox ul {margin:0;padding:0;width:280px;height:200px;background:#fff;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter:grayscale(1);filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;padding-left:25px;padding-top:8px;}
.annobox ul li {font-size:14px;color:#333;text-indent:10px;line-height:35px;}
.annobox ul .anno-icon {display: block;float:left;width:4px;height:17px;margin-top:12px;background:url(../images/icons.png) -122px -4px no-repeat;}
.annobox ul li a {}

/* 交易优势*/
.slogan {width:1000px;background:#fff;border:1px solid #dbdbdb;margin-top:30px;padding:25px 5px 25px 0px;}
.slogan ul { /*width:1000px;*/ margin:0 auto;}
.slogan li {float:left; margin-left:42px;}
.slogan-icon1 {display: block;width:47px;height:47px; background:url(../images/icons.png) -4px -35px no-repeat;}
.slogan-icon2 { display: block; width:47px; height:47px; background:url(../images/icons.png) -58px -36px no-repeat;}
.slogan-icon3 { display: block; width:47px; height:47px; background:url(../images/icons.png) -109px -36px no-repeat;}
.slogan-title { font-size:22px; margin:0; padding:0; margin-bottom:8px;line-height:24px;}
.slogan-desc { line-height: 20px; color: #999;}
.pleft{	margin-left:15px;float:left;}
/* */
.ma_box2 {width:1000px;margin:0 auto;margin-top:30px;height:340px;margin-bottom:30px;overflow:hidden;}

/* 媒体报道 */
.report {float:left;width:300px;	/*height:auto;*/height:340px;background:#fff;border:1px solid #dbdbdb;overflow:hidden;}
.report h2 {	height:52px;text-indent:10px;font-size:16px;font-weight:bold;line-height:54px;color:#333;border-bottom:1px solid #dbdbdb;}
.report h2 a {font-size:16px;font-weight:bold;color:#333;}
.report h2 i {display:block;	margin-top:17px;margin-left:19px;float:left;width:21px;height:21px;background:url(../images/icons.png) -35px 0 no-repeat;}
.report ul {margin:0;padding:0;background:#fff;padding-left:19px;padding-top:8px;}
.report ul li {font-size:13px;color:#333;text-indent:10px;line-height:33px;width:260px;overflow:hidden;}
.report ul li a {font-size:13px;}
.report ul .anno-icon {display: block;float:left;width:4px;height:17px;margin-top:12px;background:url(../images/icons.png) -122px -4px no-repeat;}

/* 排行榜 */
.ranking {float:right;width:680px;margin-left:20px;height:340px;background:#fff;border:1px solid #dbdbdb;overflow:hidden;}
.ranking h2 {height:52px;text-indent:10px;font-size:16px;font-weight:bold;line-height:54px;color:#333;border-bottom:1px solid #dbdbdb;position:relative;}
.ranking h2 a {font-size:16px;font-weight:bold;color:#333;}
.ranking h2 i {display:block;margin-top:17px;margin-left:19px;float:left;width:21px;height:21px;background:url(../images/icons.png) -62px 0 no-repeat;}
.ranking h2 span {position:absolute;right:10px;bottom:10px;display:block;color:#446272;font-size:12px;background:#e4f3fb;border:1px solid #b3cddc;padding:4px 8px;font-weight:100;text-indent:0px;}
.ranking h2 span a {color:#446272;font-size:12px;font-weight:100;}
.slider_line li{display:inline-block;list-style:none;margin-right:10px;}
.slider_line li input{width:120px;display:block;}
/* 排行榜 table */ 
.ma_rk {width:650px;margin-left:14px;text-align:center;margin-top:16px;}
.ma_rk th {background:#f2f2f2;font-size:12px;line-height:35px;text-align:center;color:#333;letter-spacing:0px;}
.ma_rk td {line-height:36px;font-size:12px;border-top:1px solid #f2f2f2;color:#555;}
.ma_rk .bro {color:#764000;}
.ma_rk .red {color:#d8110b;}
.ma_rk .gre {color:#009944;}
.ma_rk td a {font-size:12px;color:#764000;}

/* 首页合作比赛 */
.ma_game {width:1000px;margin:0 auto;background:#fff;border:1px solid #dbdbdb;margin-bottom:30px;padding:20px 20px 10px 20px;/*height:600px;*/overflow:hidden;position:static;}
.ma_game h2 {width:960px;height:43px;border-bottom:1px solid #dedee0;background:#f1f1f1;margin-bottom:20px;position:relative;overflow:hidden;}
.ma_game h2 ul {}
.ma_game h2 ul li {float:left;width:90px;text-align:center;height:43px;line-height:43px;color:#fff;font-size:15px;}
.ma_game h2 ul li a {float:left;width:90px;text-align:center;height:43px;line-height:43px;}
.ma_game h2 ul li:hover,.ma_game h2 ul li a.on {background:#ff4401;color:#fff;text-decoration: none;}
.ma_game h2 a {font-size:15px;font-weight:bold;color:#333;}

.ga_tb a {float:left;text-indent:0;display: block;height:43px;width:90px;text-align:center;line-height:43px;font: bold 13px/43px;font-size:13px;color:#5C291F;margin-right: 10px;}
.ga_tb a:hover,.ga_tb a.on {background:#ff4401;color:#fff;border-image: none;text-decoration: none;}
.ma_game h2 span {position:absolute;right:10px;bottom:7px;display:block;color:#446272;font-size:12px;background:#e4f3fb;border:1px solid #b3cddc;padding:4px 8px;font-weight:100;text-indent:0px;}
.ma_game h2 span a {color:#446272;font-size:12px;font-weight:100;}

/* bisai*/ 
.ga_con {position:static;}
.ga_con_on {}
.ga_con_on ul {margin-left:-10px;}
.ga_con_on ul li {width:230px;height:150px;overflow:hidden;position:relative;float:left;margin-left:12px;margin-bottom:20px;}
.ga_con_on ul li .gaon_main {width:230px;height:150px;overflow:hidden;}
.ga_con_on ul li .gaon_bg {background:#000;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter:grayscale(1);filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;height:30px;line-height:30px;position:absolute;bottom:0;left:0;width:230px;color:#fff;font-size:12px;}
.gaon_bg .ble {float:left;line-height:26px;padding-left:20px;font-size:12px;	margin-top:-2px;}
.gaon_bg .ble em {font-size:20px;font-weight:bold;}
.gaon_bg .bri {float:right;line-height:28px;padding-right:12px;	font-size:12px;}
.gaon_bg .bri a {color:#fff;font-size:12px;}

/* 模拟比赛开放平台 */
.openplat{clear:both;width:1000px;margin:0 auto;background:#fff;border:1px solid #dbdbdb;margin-bottom:30px;height:320px;overflow:hidden;position:static;}
.openplat h2 {height:52px;text-indent:10px;font-size:16px;font-weight:bold;line-height:54px;color:#333;border-bottom:1px solid #dbdbdb;/*position:relative;*/}
.openplat h2 a {font-size:16px;font-weight:bold;color:#333;}

.openplat h2 .open_le{ float:left;font-size:16px;font-weight:bold;line-height:54px;color:#333;}
.openplat h2 .open_le i {display:block;margin-top:17px;margin-left:19px;float:left;width:21px;height:21px;background:url(../images/icons.png) -87px -2px no-repeat;}
.openplat h2 .open_le span { padding-left:10px; font-size:13px; color:#999;}
.openplat h2 .open_le span a {color:#999;font-size:13px;font-weight:100; text-decoration:underline;}

.openplat h2 .open_ri{ float:right;line-height:54px;color:#555;}
.openplat h2 .open_ri em {font-size:14px; font-weight:bold;}
.openplat h2 .open_ri span { text-indent:0px;display:block; background:#e25b2c; border:1px solid #c23e1b;font-size:14px; color:#fff; font-weight:100; text-align:center; float:right; padding:2px 10px; margin:13px 12px 0 10px;border-radius:3px; cursor:pointer;}
.openplat h2 .open_ri span a { font-size:14px; color:#fff;font-weight:100;}

/**/
.openplat .openp_main {margin-top:30px;}
.openp_main dl { float:left;width:285px; margin-left:35px;}
.openp_main dl dt { background:url(../images/icons.png) -170px 0px repeat-y; width:16px; height:102px; float:left; margin-right:10px;}
.openp_main dl dd {margin-left:30px;}
.openp_main dl dd h3 {font-size:14px; color:#333; font-weight:bold; line-height:22px; margin-bottom:8px;}
.openp_main dl dd h3 a {font-weight:bold;}
.openp_main dl dd p { font-size:13px; color:#777; line-height:20px; background:#f6f6f6; height:50px; padding:5px 10px;}

/* 合作机构 */
.coopera {clear:both;width:1000px;margin:0 auto;background:#fff;border:1px solid #dbdbdb;margin-bottom:30px;height:300px;overflow:hidden;position:static;}
.coopera h2 {	height:52px;text-indent:10px;font-size:16px;font-weight:bold;line-height:54px;color:#333;border-bottom:1px solid #dbdbdb;}
.coopera h2 a {font-size:16px;font-weight:bold;color:#333;}
.coopera h2 i {display:block;float:left;margin-top:19px;margin-left:19px;background:#f75505;width:5px;height:13px;}

.coop_main {padding:0 15px;margin-top:35px;}
.coop_main li {margin-top:5px;}
.coop_main li p {float:left; width:90px; text-align:right;}
.coop_main li dl {float:left;width:870px;}
.coop_main li dl dd {float:left;border:1px solid #e0e0e0;margin-left:10px;margin-bottom:15px; word-wrap: break-word;word-break: normal;}
.coop_main li dl dd img { width:132px; height:45px;}

/* 友情链接 */
.mainlink {clear:both;width:1000px;margin:0 auto;background:#fff;border:1px solid #dbdbdb;margin-bottom:30px;/*height:300px;*/overflow:hidden;position:static; padding-bottom:30px;}
.mainlink h2 {	height:52px;text-indent:10px;font-size:16px;font-weight:bold;line-height:54px;color:#333;border-bottom:1px solid #dbdbdb;}
.mainlink h2 a {font-size:16px;font-weight:bold;color:#333;}
.mainlink h2 i {display:block;float:left;margin-top:19px;margin-left:19px;background:#f75505;width:5px;height:13px;}

.mainlink dl { width:998px; padding:20px 35px;}
.mainlink dl dd {font-size:13px;float:left;margin-right:30px;line-height:28px;white-space:nowrap;/*自动换行*/}
.mainlink dl dd a {color:#555;white-space:nowrap;/*自动换行*/}

/* * * 股票大全页面05-18 * * */

/* 顶部地址 */
.topadd {width:1000px;background:#fff;border:1px solid #e3e3e3;margin-top:25px;overflow:hidden;padding:10px 20px;font-size:13px;}
.topadd p { float:left; line-height:30px;color:#666;}
.topadd p a { color:#666;}
.topadd p a.toon { color:#ff4401;}
.topadd div {float:right;}
.topadd .seac_inp {width:180px;height:30px;padding:0 0 0 10px;margin:0 0 0 9px;border:1px solid #dedede;line-height: 30px; border-radius:0;}
.topadd .seac_smt {width:28px;height:28px;border:1px solid #c23e1b;padding:0;margin-left:10px; background: #e25b2c url(../images/icons.png) -4px -92px no-repeat; }
.topadd .seac_smt:hover {opacity:0.8;filter:alpha(opacity=80);}

/* 股票大全分类 */
.stocksift {width:1000px;background:#fff;border:1px solid #e3e3e3;margin-top:25px;margin-bottom:35px;overflow:hidden;font-size:13px;/* height:2000px;*/}
.stocksift h2 { background:#e6e6e6; height:43px; line-height:43px; margin:1px; font-size:15px;}
.stocksift h2 a {float:left;text-indent:0;display: block;height:43px;width:96px;text-align:center;line-height:43px; margin-right:5px;font-size:15px;color:#333;}
.stocksift h2 a:hover,.stocksift h2 a.on {background:#ff4401;color:#fff;border-image: none;text-decoration: none; font-weight:bold;}

/* 股票大全分类切换 */
.stpcksift_main {width:940px; margin-left:30px; margin-bottom:40px; overflow:hidden;}

.stpcksift_mainnav {	height:43px; line-height:43px;width:940px;margin-top:20px;background:#f7f7f7; margin-bottom:0px; overflow:hidden;}
.stpcksift_mainnav dl {  height:43px; line-height:43px;font-size:15px; border-bottom:1px solid #e6e6e6;}
.stpcksift_mainnav dl a {float:left; padding:0 11px;text-indent:0;display: block;height:43px;text-align:center;line-height:43px; font-size:15px;color:#333;}
.stpcksift_mainnav dl .stockon a {color:#ff4401;}
.stpcksift_mainnav dl dt {float:left; margin-left:5px;}
.stpcksift_mainnav dl dd {float:left;text-align:center;font-weight:bold;}
.stpcksift_mainnav dl a {color:#555;}
.stpcksift_mainnav dl a:hover {color:#ed5e03;}
.stpcksift_mainnav dl dt a, .stpcksift_mainnav dl dd a:hover {background: url(../images/icons2.jpg) bottom center no-repeat;color: #ed5e03;}

/* 切换内容 */
.stockall {width:940px;margin-top:20px;overflow:hidden; clear:both;}
.stockall_box {width:940px;line-height:30px;padding-bottom:15px;border-bottom:1px dotted #ddd;overflow:hidden;margin-top:10px;}

.stockall_box .stockall_tit {float:left;	line-height:30px; width:80px;/*padding:0 15px;*/ text-align:center;background:#ed3c0d;color:#fff; margin-right:10px;}
.stockall_box .stockall_tit a {color:#fff;}

.stockall_box dl {float:left;line-height:30px;font-size:14px;white-space:nowrap;/*自动换行 */ width:800px;}
.stockall_box dl dd {float:left;color:#555;line-height:30px;	margin-left:5px;padding:0 15px;white-space:nowrap;/*自动换行*/ margin-bottom:2px;}
.stockall_box dl dd a:hover {color:#fff;}
.stockall_box dl dd:hover {float:left;text-align:center;background:#ed3c0d;color:#fff;line-height:30px;margin-left:5px;padding:0 15px;white-space:nowrap;/*自动换行*/}

.stockall_box .stockall_btn {float:right;background:url(../images/icons.png) -51px -95px no-repeat;width:49px;height:22px;cursor:pointer; margin-top:4px;}
.stockall_box .stockall_btn2 {float:right;background:url(../images/icons.png) -105px -95px no-repeat;width:49px;height:22px;cursor:pointer; margin-top:4px;}

/* * * 股票详情页面05-19 * * */

/* 详情页面-部分1 */
.stockdetail {width:1000px;background:#fff;border:1px solid #e3e3e3;margin-top:25px;margin-bottom:35px;overflow:hidden;font-size:13px;/* height:2000px;*/}
.stockdetail .stdetail {	background:#f5f5f5;	width:960px;height:95px;margin:20px;padding:20px;}
.stdetail_le {float:left;}
.stdetail_le dt {float:left;	/*width:200px;*/}
.stdetail_le dt .le_dt {float:left;background:#b66b54;width:92px;height:54px;border-radius:5px;text-align:center;margin-right:16px;margin-left:10px;}
.le_dt h4 {font-size:16px;color:#fff;padding-top:8px; font-weight:bold;}
.le_dt h4 a {font-size:16px;color:#fff;font-weight:bold;}
.le_dt p {font-size:12px;color:#fff; line-height:12px;}
.stdetail_le dt .ri_dt {float:left;}
.ri_dt h4 {font-size:18px;font-weight:bold;color:#df3031; margin-top:8px;}
.ri_dt h4 i { display:block;float:right;margin-top:2px;margin-left:2px;/*background:#f75505;*/width:14px;height:17px;background:url(../images/ucommon.png) no-repeat 0 -322px;}
.ri_dt p {font-size:13px;font-weight:100;color:#df3031; line-height:21px;}

.stdetail_le dd {float:left;margin-top:8px;background:url(../../picture/lin3.png) left center no-repeat;padding-left:33px;margin-left:28px;}
.stdetail_le dd p {font-size:13px;color:#555;line-height:21px;}
.stdetail_le dd span {background:url(../images/ucommon.png) no-repeat -245px -405px;display:block;float:left;width:55px;height:32px;line-height:32px;font-size:13px;color:#555;text-align:center; cursor:pointer; margin-top:5px;}
.stdetail_le dd span a {color:#555;}

.stdetail_le dd span.stockon {background:url(../images/ucommon.png) no-repeat -146px -405px;display:block;float:left;margin-right:10px;width:91px;height:32px;color:#fff;}
.stdetail_le dd span.stockon a {color:#fff;}

/* 详情页面-部分2 */
.stdetailpic {width:960px;margin-left:20px; margin-bottom:25px;overflow:hidden;position:static;}

.stdetailpic h2 { width:960px;height:35px;border-bottom:1px solid #dedee0;background:#f1f1f1;margin-bottom:20px;position:relative;overflow:hidden;}
.stdetailpic h2 a {font-size:13px;font-weight:100;color:#333;}
.ga_tb a {float:left;text-indent:0;display: block;height:35px;width:90px;text-align:center;line-height:35px;font: bold 13px/43px;font-size:13px;color:#5C291F;margin-right: 10px;}
.ga_tb a:hover,.ga_tb a.on {background:#ff4401;color:#fff;border-image: none;text-decoration: none;font-weight:bold;}

.stpic_box {width:960px;/*height:230px;*/clear:both;overflow:hidden;}
.stpic_box .stp_box {}
.stp_box .stp_box_left {width:620px;float:left;height:230px;}
.stp_box .stp_box_right {width:310px;float:right;height:230px;}

/* 详情页面-部分3 */
.stocknews {width:960px;margin-left:20px;}

.stocknews .stocknews_left {float:left;width:620px;margin-bottom:20px;}
.stocknews_left h2 {/*width:960px;*/height:35px;border-bottom:1px solid #dedee0;background:#f1f1f1;position:relative;overflow:hidden;}
.stocknews_left h2 a {font-size:13px;font-weight:100;color:#333;}
.stocknews_left .ga_tb a {float:left;text-indent:0;display: block;height:35px;width:90px;text-align:center;line-height:35px;font: bold 13px/43px;font-size:13px;color:#5C291F;margin-right: 10px;}
.stocknews_left .ga_tb a:hover,.stocknews_left .ga_tb a.on {background:#ff4401;color:#fff;border-image: none;text-decoration: none;font-weight:bold;}

.stocknews_left dl {}
.stocknews_left dl dd {background:#fff;border-bottom:1px solid #e7e7e7;padding:20px;}
.stocknews_left dl dd:hover {background:#f9f9f9;border-bottom:1px solid #e7e7e7;padding:20px;}
.stocknews_left dl dd h4 { font-size:18px; color:#333; line-height:35px; font-weight:100;}
.stocknews_left dl dd h4 a { font-size:18px; color:#333; line-height:35px; font-weight:100;}
.stocknews_left dl dd p {font-size:13px; color:#666; line-height:25px;}
.stocknews_left dl dd span {color:#dc1212;}
.stocknews_left dl dd span a {color:#dc1212;}
.stocknews_left dl dd div { font-size:12px; color:#b2b2b2; height:25px;line-height:25px;}
.stocknews_left dl dd div span {font-size:12px;display:block; height:25px; line-height:25px;color:#b2b2b2;float:left; margin-right:10px;}
.stocknews_left dl dd div em {font-size:12px;display:block;float:left;background:url(../images/ucommon.png) no-repeat -287px -438px;text-indent:15px; vertical-align:top;padding-top:3px;}
.stocknews_left .pages2 { margin-top:30px;}

/* 部分3右边内容 */
.stocknews .stocknews_right {float:right;width:310px;}
/* 持仓用户内容1 */
.stnews_right_box {width:310px;}
.stnews_right_box h3 { height:36px; line-height:36px; font-size:15px; color:#e23702;border-bottom: 2px solid #f3f2f2;}
.stnews_right_box h3 em { display:block; float:left;height:36px; line-height:36px;border-bottom: 2px solid #e23702; font-weight:bold; padding:0 5px;}
.stnews_right_box h3 em a {color:#e23702; font-weight:bold;height:36px; line-height:36px;}
.stnews_right_box h3 span { float:right;display:block;color:#446272;font-size:12px;background:#e4f3fb;border:1px solid #b3cddc;padding:0px 5px;font-weight:100;text-indent:0px; margin-top:8px;}
.stnews_right_box h3 span a {color:#446272;font-size:12px;font-weight:100;}

.stnews_right_box dl {clear:both;width:310px;margin-bottom:25px;overflow:hidden;}
.stnews_right_box dl dd {line-height:40px;padding:20px 15px 15px 15px; border-bottom:1px solid #e0e0e0; overflow:hidden;}
.stnews_right_box dl dd .ri_boxman {float:left;width:40px;height:40px;margin-right:15px;}
.stnews_right_box dl dd p {float:left; font-size:14px; color:#555; line-height:40px;}
.stnews_right_box dl dd .ri_boxindex {float:right;line-height:40px;font-size:14px; font-weight:bold; color:#df3031;}
.stnews_right_box dl dd .ri_boxindex i { display:block;float:right;margin-top:12px;margin-left:10px;width:14px;height:17px;background:url(../images/ucommon.png) no-repeat 0 -322px;}
/* 持仓用户内容2 */
.stnews_right_box2 {width:310px;}
.stnews_right_box2 h3 { height:36px; line-height:36px; font-size:15px; color:#e23702;border-bottom: 2px solid #f3f2f2;}
.stnews_right_box2 h3 em { display:block; float:left;height:36px; line-height:36px;border-bottom: 2px solid #e23702; font-weight:bold; padding:0 5px;}
.stnews_right_box2 h3 em a {color:#e23702; font-weight:bold;height:36px; line-height:36px;}

.stnews_right_box2 dl {clear:both;width:310px;margin-bottom:25px;overflow:hidden;}
.stnews_right_box2 dl dd {line-height:40px;padding:15px; border-bottom:1px solid #e0e0e0; overflow:hidden;}

.stnews_right_box2 dl dd .ri_box2left {float:left; text-align:center;}
.stnews_right_box2 dl dd .ri_box2left h4 {font-size:15px; color:#555; line-height:25px;}
.stnews_right_box2 dl dd .ri_box2left p {font-size:12px; color:#555; line-height:20px;}

.stnews_right_box2 dl dd .ri_box2right {float:right;font-size:14px; font-weight:bold;}
.stnews_right_box2 dl dd .ri_box2right h4 {font-size:15px;line-height:25px;font-weight:bold;}
.stnews_right_box2 dl dd .ri_box2right h4 em {display:block;float:right;font-size:15px;line-height:25px;font-weight:bold;}
.stnews_right_box2 dl dd .ri_box2right h4 i {display:block;float:right;margin-top:4px;margin-left:3px;width:14px;height:17px;}
.stnews_right_box2 dl dd .ri_box2right p {font-size:14px;line-height:20px;font-weight:bold;}

.stnews_right_box2 dl dd .red h4 {color:#d8110b;}
.stnews_right_box2 dl dd .red h4 em {color:#d8110b;}
.stnews_right_box2 dl dd .red h4 i {background:url(../images/ucommon.png) no-repeat 0 -322px;}
.stnews_right_box2 dl dd .red p {color:#d8110b;}

.stnews_right_box2 dl dd .gre h4 {color:#009944;}
.stnews_right_box2 dl dd .gre h4 em {color:#009944;}
.stnews_right_box2 dl dd .gre h4 i {background:url(../images/ucommon.png) no-repeat 0 -355px;}
.stnews_right_box2 dl dd .gre p {color:#009944;}

/* * * 股票详情页面2 05-19 * * */

/* 详情页面2-部分3 */
.stocknews_left .st_main_2 { margin-top:5px;}
.stocknews_left .st_main_2 > dd {background:#fff;border-bottom:1px solid #e7e7e7;padding:25px;}
.stocknews_left .st_main_2 > dd:hover {background:#f9f9f9;border-bottom:1px solid #e7e7e7;padding:25px;}

.st_main_2 dd h4 { width:65px; height:65px; float:left; border:1px solid #e3e3e3; border-radius:5px; margin-right:20px; overflow:hidden;}
.st_main_2 dd h4 a img {border-color:#d1d1d1;}
.st_main_2 dd p {font-size:15px; color:#555; height:30px;font-weight:bold; margin-top:10px;}
.st_main_2 dd p span {color:#b15f37;font-weight:bold;}
.st_main_2 dd p span a {color:#b15f37;font-weight:bold;}
.st_main_2 dd .st_fu { font-size:12px; color:#b2b2b2; height:25px;line-height:25px; position:relative;}
.st_main_2 dd .st_fu span {font-size:12px;display:block; height:25px; line-height:25px;color:#b2b2b2;float:left; margin-right:10px;}
.st_main_2 dd .st_fu i {font-size:12px; color:#d17e55;display:block;float:right; background:none; margin-right:0px;}
.st_main_2 dd .st_fu i a {font-size:12px; color:#d17e55;}


.st_main_2 dd .tag {top:22px;width:140px; height:35px; border:1px solid #d9bca3; background-color:#f8eee6;margin-left:447px;position:absolute;z-index:111;display:none;}
.arrow { position:absolute; width:40px; height:40px; bottom:28px; left:100px; }
.arrow * { display:block; border-width:10px; position:absolute; border-style:dashed dashed solid dashed; font-size:0; line-height:0; }
.arrow i {border-color:transparent transparent #d9bca3; }
.arrow span {border-color:transparent transparent #f8eee6; bottom:3px;}

.st_active { display:inline-block; margin-top:5px;}
.st_active li { float:left; margin-left:10px;}
.st_active li img { width:23px; height:18px;}
.st_tag {}

/* 排行榜 05-20 */
.stlist {width:1000px;background:#fff;border:1px solid #e3e3e3;margin-top:25px;margin-bottom:35px;overflow:hidden;font-size:13px;/* height:2000px;*/}
.stlist h2 { background:#e6e6e6; height:43px; font-weight:bold;line-height:43px; margin:1px; font-size:16px; position:relative; text-indent:15px;}
.stlist h2 a {font-size:16px;color:#333; font-weight:bold;}
/*.stlist h2 a:hover,.stlist h2 a.on {background:#ff4401;color:#fff;border-image: none;text-decoration: none; font-weight:bold;}*/
.stlist h2 span { position:absolute; right:10px;font-size:13px; color:#999;line-height:43px;}

.stlist_search {width:960px; margin-left:20px;margin-bottom:25px;}
.stlist_search h3 { width:960px; height:40px;margin-top:20px; overflow:hidden;}
.stlist_search p {height:40px; line-height:40px; float:left; font-size:16px; color:#555; font-weight:bold;}
.stlist_search p > span {font-size:14px; color:#999; padding-left:10px;}
.stlist_search p > em {display:block; float:left; background:#b2b2b2; border:1px solid #898989; padding:5px 15px; margin-left:10px; color:#fff; border-radius:2px; font-size:15px;}
.stlist_search p > em.opg {background:#e25b2c; border:1px solid #c23e1b;}
.stlist_search p > em a {color:#fff;}
.stlist_search .st_search {clear:both;width:960px;height:90px;overflow:hidden;margin-top:20px;}

.slider_line{width:960px;min-height:80px;margin:20px auto;}
.slider_line li{display:inline-block;list-style:none;margin-right:23px;}
.slider_line li input{width:120px;display:block;}
.pull-left{float:left;}
.pull-right{float:right;}
.tj_range .pull-left{line-height:20px;}
.rang_hui{background:#eeeeee;border:1px solid #d3d3d3;color:#b2b2b2;padding:2px 3px;line-height:15px!important;}


.stlist_main { width:960px; margin-left:20px;}
.stlist_main h2 {height:42px;border-bottom:1px solid #dedee0;background:#f1f1f1;position:relative;overflow:hidden; line-height:42px;}
.stlist_main h2 a {font-size:13px;font-weight:100;color:#333; margin-left:5px;height:42px;line-height:42px; width:auto; padding:0 20px; }
.stlist_main h2 a i { display:block; float:left;background:url(../images/ucommon.png) no-repeat -201px -345px; width:22px; height:17px; margin-top:12px; margin-right:8px;}
.stlist_main h2 .st2 i { display:block; float:left;background:url(../images/ucommon.png) no-repeat -201px -368px; width:22px; height:20px; margin-top:12px; margin-right:8px;}
/*.stlist_main .ga_tb a {float:left;text-indent:0;display: block;height:42px;width:110px;text-align:center;line-height:42px;border-bottom:1px solid #dedee0;font-size:13px;color:#5C291F;margin-right: 10px;}
.stlist_main .ga_tb a:hover,.stlist_main .ga_tb a.on {background:#fff;color:#ff4401;border-image: none;text-decoration: none;font-weight:bold;height:40px; margin-top:2px; border-bottom:1px solid #fff;}*/
.stlist_main .ga_tb a:hover,.stlist_main .ga_tb a.on {background:#fff;color:#ff4401;border-image: none;text-decoration: none;font-weight:bold;height:40px; margin-top:2px; border-bottom:1px solid #fff;}

.stlist_mainbox {}
.stlist_mainbox h3 { width:960px; height:40px;margin-top:15px; overflow:hidden;margin-bottom:20px; padding-left:20px;}
.stlist_mainbox p {height:40px; line-height:40px; float:left; font-size:14px; color:#555; font-weight:bold;}
.stlist_mainbox p > span {font-size:12px; color:#999; padding-left:10px;}
.stlist_mainbox p > span a {color:#984d36; text-decoration:underline;font-size:12px;}

.stlist_mainbox p.flselect {margin-top:5px;line-height:30px;float:right;}
.flselect select {float: left; margin-right:10px;border:1px solid #ccc;height:30px;line-height:30px;width:150px;font-size:12px; color:#888; border-radius:0;}
.flselect option {font-size:12px; color:#888;}

/* 排行榜表格 */ 
.stlist_mainbox .stlist_maintab {clear:both;width:950px;/*height:1500px;*/font-size:13px;color:#555;font-weight:bold;overflow:hidden; margin-left:5px; margin-bottom:25px;}
.stlist_maintab .stlist_tab {width:948px;border:1px solid #e1e0e0;border-collapse:collapse;text-align:center;margin-bottom:20px;font-size:13px;color:#555;}
.stlist_maintab .stlist_tab tr {border:1px solid #e1e0e0;border-collapse:collapse;font-size:13px;color:#555;font-weight:bold;}

.stlist_maintab .stlist_tab th {border:1px solid #e1e0e0;border-collapse:collapse;text-align:center;letter-spacing: 0px;font-size:13px;color:#555;height:25px;line-height:25px;font-weight:bold;}
.stlist_maintab .stlist_tab td {border:1px solid #e1e0e0;border-collapse:collapse;text-align:center;font-size:13px;color:#555;font-weight:bold;}
.stlist_maintab .stlist_tab thead {width:948px;border:1px solid #e1e0e0;border-collapse:collapse;background:#f5f5f5;font-weight:bold;font-size:13px;color:#734425;}
.stlist_maintab .stlist_tab thead th {font-size:13px;color:#734425;font-weight:bold;}
.stlist_maintab .stlist_tab .red {font-size:13px;color:#d8110b;font-weight:bold;}
.stlist_maintab .stlist_tab .gre {font-size:13px;color:#094;font-weight:bold;}
.stlist_maintab .stlist_tab .gray {font-size:13px;color:#555;font-weight:bold;}
.stlist_maintab .stlist_tab th.bgnow {position:relative;}
.stlist_maintab .stlist_tab th i { display:block;background:url(../images/ucommon.png) no-repeat -293px -473px; width:7px; height:4px; position:absolute;left:67px; top:20px;}

.stlist_maintab .stlist_tab tbody {width:948px;border:1px solid #e1e0e0;border-collapse:collapse;background:#fff;font-weight:bold;font-size:13px;color:#555;}

.stlist_maintab .stlist_tab .tab_toux {width:145px;}
.stlist_maintab .stlist_tab .tab_toux div {margin-top:15px;}
.stlist_maintab .stlist_tab .tab_toux div img { padding:2px; border:1px solid #ccc;}
.stlist_maintab .stlist_tab .tab_toux p {width:145px;text-align:center;color:#734425;font-size:13px;font-weight:bold;}
.stlist_maintab .stlist_tab .tab_toux p a {width:145px;text-align:center;color:#734425;font-size:13px; font-weight:bold;}

.stlist_maintab .stlist_tab .tab_style {font-weight:100;}
.stlist_maintab .stlist_tab .tab_style div {float:left;}
.stlist_maintab .stlist_tab .tab_style div p {clear:both;font-weight:100;font-size:13px;line-height:25px;height:25px;padding-left:5px;}
.stlist_maintab .stlist_tab .tab_style em {display:block;float:right;padding-top:10px;padding-right:20px;}
.stlist_maintab .stlist_tab .tab_style div p span {color:#999;font-size:13px;}
.stlist_maintab .stlist_tab .tab_style div p a {color:#555;font-size:13px;}
.stlist_maintab .stlist_tab .tab_style div p a:hover {color:#c00;font-size:13px;}

.stlist_maintab .stlist_tab tbody .tabhg td { height:34px; line-height:34px;}

.stlist_maintab .stlist_tab tfoot {width:948px; height:70px;border:1px solid #ededed;border-collapse:collapse;background:#ededed;font-weight:bold;font-size:13px;color:#555; margin-top:25px;}
.stlist_maintab .stlist_tab tfoot tr {margin-top:25px;border:1px solid #ededed;border-collapse:collapse;background:#ededed;}
.stlist_maintab .stlist_tab tfoot td {border:1px solid #ededed;border-collapse:collapse;background:#ededed;}
.stlist_maintab .stlist_tab tfoot i { display:block;background:url(../images/ucommon.png) no-repeat -293px -473px; width:7px; height:4px; position:absolute;right:10px; top:20px;}

.stlist_maintab .stlist_tab tfoot .none { height:30px; background:#fff; border:1px solid #fff;}
.stlist_maintab .stlist_tab tfoot .listbott { width:948px; clear:both; margin:0 auto;}
.stlist_maintab .stlist_tab tfoot .listbott div { font-size:14px; color:#cb5734; font-weight:bold; width:948px;height:25px; margin-top:15px; text-align:center; overflow:hidden; position:relative;}
.stlist_maintab .stlist_tab tfoot .listbott div span {font-size:14px; color:#cb5734; font-weight:bold;}
.stlist_maintab .stlist_tab tfoot .listbott div em {display:block;background:url(../images/ucommon.png) no-repeat -246px -2px; width:14px; height:14px; float:left; margin-top:2px; position:absolute; top:0; right:430px;}
.stlist_maintab .stlist_tab tfoot .listbott div a { font-size:14px; color:#cb5734;font-weight:bold;}
.stlist_maintab .stlist_tab tfoot .listbott p { width:948px; text-align:center; font-size:13px; color:#777; font-weight:100; height:30px; line-height:30px; margin-bottom:15px;}

/* */
.region{ width:960px; height:455px; overflow:hidden; margin:30px 20px;}









